.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0c1c3e;
  scroll-snap-type: y mandatory;
  overflow: auto;
}
.container::-webkit-scrollbar {
  display: none;
}
.container main {
  position: relative;
  width: 90%;
  height: auto;
  background-color: #0f224a;
  margin: 0 auto;
}
.container main .hero {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 80px 190px 40px 190px;
}
.container main .hero .hero-vedio {
  width: 100%;
  border: 20px solid white;
}
.container main .hero .hero-vedio > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .hero .hero-videoControls {
  position: absolute;
  right: 225px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.container main .hero .hero-videoControls > button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  font-size: 40px;
  line-height: 40px;
}
.container main .hero .hero-videoControls > button:hover {
  cursor: pointer;
}
.container main .news {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 60px calc(50vw - 675px);
  overflow: hidden;
}
.container main .news .news-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .news .news-animation {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  animation: sizeMotion 4s infinite cubic-bezier(0.83, 0, 0.17, 1);
}
@keyframes sizeMotion {
  10% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(30px);
    opacity: 0;
  }
}
.container main .news .fire1 {
  top: 60px;
  right: 0;
  animation-delay: 1.1s;
}
.container main .news .fire2 {
  top: 30px;
  left: 100px;
}
.container main .news .fire3 {
  bottom: -350px;
  left: -200px;
  animation-delay: 0.6s;
}
.container main .news .fire4 {
  bottom: -80px;
  right: -100px;
  animation-delay: 1.7s;
}
.container main .news .news-title {
  z-index: 1;
  width: 100%;
  margin: 40px 0px 60px 0px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #18242e;
}
.container main .news .news-postBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  z-index: 1;
  width: 100%;
  height: auto;
}
.container main .news .news-postBox .post {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.container main .news .news-postBox .post .postContent {
  position: relative;
  width: 100%;
  height: 100%;
}
.container main .news .news-postBox .post .postContent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
.container main .news .news-postBox .post .postContent img:hover {
  transform: scale(1.1);
}
.container main .news .news-postBox .post .postContent .postContent-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 24px 32px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(8, 34, 78, 0.8) 100%);
  color: white;
  font-weight: 700;
  line-height: 1.4;
}
.container main .news .news-postBox .post .postContent .postContent-text .date {
  font-size: 12px;
  margin-bottom: 4px;
}
.container main .news .news-postBox .post .postContent .postContent-text .title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container main .news .news-postBox .grid1 {
  grid-area: 1/1/3/4;
}
.container main .news .news-postBox .grid2 {
  grid-area: 1/4/3/7;
}
.container main .news .news-postBox .grid3 {
  grid-area: 3/1/4/3;
}
.container main .news .news-postBox .grid4 {
  grid-area: 3/3/4/5;
}
.container main .news .news-postBox .grid5 {
  grid-area: 3/5/4/7;
}
.container main .news .news-btn {
  z-index: 1;
  margin-top: 50px;
}
.container main .news .news-btn a {
  padding: 8px 24px;
  border: 2px solid #0061af;
  border-radius: 999px;
  background-color: #fff;
  color: #0061af;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.container main .news .news-btn a:hover {
  background-color: #d1eefd;
}
.container main .content {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  padding: calc(50vw - 675px);
}
.container main .content .content-bg {
  position: absolute;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .content .left {
  left: 0;
  width: 50%;
  z-index: 1;
}
.container main .content .right {
  right: 0;
  width: 60%;
  z-index: 0;
}
.container main .content .content-text {
  position: relative;
  z-index: 100;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}
.container main .content .content-text .content-text__box {
  display: flex;
  gap: 25px;
}
.container main .content .content-text .content-text__box .content-text__box--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}
.container main .content .content-text .content-text__box .content-text__box--icon img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .content .content-text .content-text__box .content-text__box--title {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 1.3;
}
.container main .content .content-text .content-text__box .content-text__box--title .mainTitle {
  font-weight: 600;
}
.container main .content .content-text .content-text__body {
  margin-top: 25px;
  line-height: 1.4;
}
.container main .banner {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
}
.container main .banner .banner-bgBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.container main .banner .banner-bgBox .banner-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .banner .banner-text {
  position: relative;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #18242e;
}
.container main .banner .banner-text .banner-text__title {
  font-size: 36px;
  line-height: 52px;
  font-weight: 900;
}
.container main .banner .banner-text .banner-text__body {
  margin-top: 12px;
  line-height: 1.4;
}
.container main .module {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0px;
}
.container main .module .module-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.container main .module .module-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container main .module .downloadApp-layout {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 calc(50vw - 675px);
}
.container main .module .downloadApp-layout .downloadApp-layout__logo {
  width: 280px;
}
.container main .module .downloadApp-layout .downloadApp-layout__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--text {
  margin-bottom: 30px;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--text .title {
  color: white;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--badges {
  width: -moz-fit-content;
  width: fit-content;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--badges .appBadges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--badges .appBadges .appBadges-btn {
  flex: 1;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--badges .appBadges .appBadges-btn > a {
  width: auto;
  height: 48px;
}
.container main .module .downloadApp-layout .downloadApp-layout__content .downloadApp-layout__content--badges .appBadges .appBadges-btn > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container footer {
  scroll-snap-align: start;
  position: relative;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  background-color: white;
}/*# sourceMappingURL=main.css.map */