:root {
  --primary-navy-300: #0c1c3e;
  --primary-navy-200: #0f224a;
  --primary-navy-100: #0061af;
  --secondary-red-100: #e1306d;
  --secondary-green-100: #24cbaa;
  --secondary-yellow-100: #f7cc46;
  --color-navy: #18242e;
  --color-black: #000;
  --color-white: #fff;
  --bg-skyblue-50: #d1eefd;
  --bg-teal-50: #e2f7f7;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-navy-300);
  scroll-snap-type: y mandatory;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  main {
    position: relative;
    width: 90%;
    height: auto;
    background-color: var(--primary-navy-200);
    margin: 0 auto;
    .hero {
      scroll-snap-align: start;
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 80px 190px 40px 190px;
      .hero-vedio {
        width: 100%;
        border: 20px solid var(--color-white);
        > video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .hero-videoControls {
        position: absolute;
        right: 225px;
        bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        > button {
          width: 70px;
          height: 70px;
          border: none;
          border-radius: 50%;
          background-color: var(--color-white);
          opacity: 0.8;
          font-size: 40px;
          line-height: 40px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .news {
      scroll-snap-align: start;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 60px calc(50vw - 675px);
      overflow: hidden;
      .news-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .news-animation {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        animation: sizeMotion 4s infinite cubic-bezier(0.83, 0, 0.17, 1);
        @keyframes sizeMotion {
          10% {
            transform: scale(0);
            opacity: 0;
          }
          50% {
            transform: scale(1) translateY(0px);
            opacity: 1;
          }
          100% {
            transform: scale(1) translateY(30px);
            opacity: 0;
          }
        }
      }
      .fire1 {
        top: 60px;
        right: 0;
        animation-delay: 1.1s;
      }
      .fire2 {
        top: 30px;
        left: 100px;
      }
      .fire3 {
        bottom: -350px;
        left: -200px;
        animation-delay: 0.6s;
      }
      .fire4 {
        bottom: -80px;
        right: -100px;
        animation-delay: 1.7s;
      }
      .news-title {
        z-index: 1;
        width: 100%;
        margin: 40px 0px 60px 0px;
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        color: var(--color-navy);
      }
      .news-postBox {
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        z-index: 1;
        width: 100%;
        height: auto;
        .post {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          .postContent {
            position: relative;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.3s linear;
              &:hover {
                transform: scale(1.1);
              }
            }
            .postContent-text {
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              height: auto;
              padding: 24px 32px;
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(8, 34, 78, 0.8) 100%
              );
              color: var(--color-white);
              font-weight: 700;
              line-height: 1.4;

              .date {
                font-size: 12px;
                margin-bottom: 4px;
              }
              .title {
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .grid1 {
          grid-area: 1 / 1 / 3 / 4;
        }
        .grid2 {
          grid-area: 1 / 4 / 3 / 7;
        }
        .grid3 {
          grid-area: 3 / 1 / 4 / 3;
        }
        .grid4 {
          grid-area: 3 / 3 / 4 / 5;
        }
        .grid5 {
          grid-area: 3 / 5 / 4 / 7;
        }
      }
      .news-btn {
        z-index: 1;
        margin-top: 50px;
        a {
          padding: 8px 24px;
          border: 2px solid var(--primary-navy-100);
          border-radius: 999px;
          background-color: var(--color-white);
          color: var(--primary-navy-100);
          font-weight: 600;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: var(--bg-skyblue-50);
          }
        }
      }
    }
    .content {
      scroll-snap-align: start;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
      padding: calc(50vw - 675px);
      .content-bg {
        position: absolute;
        top: 0;
        height: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .left {
        left: 0;
        width: 50%;
        z-index: 1;
      }
      .right {
        right: 0;
        width: 60%;
        z-index: 0;
      }
      .content-text {
        position: relative;
        z-index: 100;
        width: fit-content;
        color: var(--color-white);
        .content-text__box {
          display: flex;
          gap: 25px;
          .content-text__box--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            padding: 20px;
            border-radius: 50%;
            background-color: var(--color-white);
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .content-text__box--title {
            display: flex;
            flex-direction: column;
            font-size: 30px;
            line-height: 1.3;
            .mainTitle {
              font-weight: 900;
            }
          }
        }
        .content-text__body {
          margin-top: 25px;
          line-height: 1.4;
        }
      }
    }
    .banner {
      scroll-snap-align: start;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
      padding-top: 120px;
      .banner-bgBox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .banner-bg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .banner-text {
        position: relative;
        z-index: 1;
        width: fit-content;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        color: var(--color-navy);
        .banner-text__title {
          font-size: 36px;
          line-height: 52px;
          font-weight: 900;
        }
        .banner-text__body {
          margin-top: 12px;
          line-height: 1.4;
        }
      }
    }
    .module {
      scroll-snap-align: start;
      position: relative;
      width: 100%;
      height: auto;
      padding: 60px 0px;
      .module-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .downloadApp-layout {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        width: fit-content;
        margin: 0 auto;
        padding: 0 calc(50vw - 675px);
        .downloadApp-layout__logo {
          width: 280px;
        }
        .downloadApp-layout__content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: fit-content;
          .downloadApp-layout__content--text {
            margin-bottom: 30px;
            .title {
              color: var(--color-white);
              font-size: 32px;
              line-height: 38px;
              font-weight: 600;
            }
          }
          .downloadApp-layout__content--badges {
            width: fit-content;
            .appBadges {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 12px;
              .appBadges-btn {
                > a {
                  width: auto;
                  height: 100%;
                  > img {
                    width: 155px;
                    height: 48px;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    scroll-snap-type: none;
    main {
      width: 100%;
      overflow: hidden;
      .hero {
        padding: 80px 60px 40px;
        .hero-videoControls {
          right: 100px;
          bottom: 80px;
          width: 60px;
          height: 60px;
          > button {
            width: 55px;
            height: 55px;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }
      .news {
        padding: 60px 0px;
        .news-animation,
        .fire1,
        .fire2,
        .fire3,
        .fire4,
        .fire5 {
          display: none;
        }
        .news-title {
          margin: 0px 0px 60px 0px;
        }
        .news-postBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px calc(50vw - 220px);
          .post {
            .postContent {
              img {
                height: 250px;
                &:hover {
                  transform: none;
                }
              }
            }
          }
        }
        .news-btn {
          margin-top: 30px;
        }
      }
      .content {
        flex-direction: column;
        height: 100vh;
        padding: 40px 20px;
        .content-bg {
          top: auto;
          left: 0;
          height: auto;
          img {
            height: 100%;
          }
        }
        .left {
          top: 0;
          width: 110%;
          height: 40%;
        }
        .right {
          bottom: 0;
          width: 100%;
          height: 60%;
        }
      }
      .banner {
        min-height: 800px;
        padding-top: 80px;
      }
      .module {
        .downloadApp-layout {
          flex-direction: column;
          justify-content: center;
          .downloadApp-layout__content {
            justify-content: center;
            .downloadApp-layout__content--text {
              text-align: center;
              .title {
                font-size: 24px;
              }
            }
            .downloadApp-layout__content--badges {
              .appBadges {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    scroll-snap-type: none;
    main {
      .hero {
        padding: 80px 20px 20px;
        .hero-vedio {
          border: 12px solid var(--color-white);
        }
        .hero-videoControls {
          right: 35px;
          bottom: 35px;
          width: 50px;
          height: 50px;
          > button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      .news {
        gap: 30px;
        padding: 30px 0px;
        .news-title {
          margin: 0px;
          font-size: 28px;
        }
        .news-postBox {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          justify-content: flex-start;
          width: 100%;
          height: 200px;
          padding: 0px;
          scroll-snap-type: x mandatory;
          overflow: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          .post {
            scroll-snap-align: end;
            width: 300px;
            border-radius: 6px;
            margin-left: 15px;
            grid-area: auto;
            &:nth-child(5) {
              scroll-snap-align: start;
              margin-right: 15px;
            }
          }
        }
        .news-btn {
          margin-top: 0px;
        }
      }
      .content {
        padding: 60px 20px;
        .content-text {
          .content-text__box {
            .content-text__box--title {
              font-size: 24px;
            }
          }
          .content-text__body {
            font-size: 12px;
          }
        }
      }
      .banner {
        min-height: 460px;
        padding-top: 50px;
        .banner-text {
          .banner-text__title {
            font-size: 28px;
          }
          .banner-text__body {
            padding: 0px 20px;
          }
        }
      }
      .module {
        .downloadApp-layout {
          .downloadApp-layout__content {
            align-items: center;
            .downloadApp-layout__content--badges {
              .appBadges {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}
