.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0c1c3e;
  scroll-snap-type: y mandatory;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  footer {
    scroll-snap-align: start;
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    .footer-content {
      width: 100%;
      padding: 0px calc(50vw - 675px);
      .footer-contentWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 80px;
        grid-row-gap: 0px;
        width: 100%;
        padding: 40px 0px;
        color: #18242e;
        font-weight: 400;
        line-height: 1.4;

        .footer-contentWrap-links {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 25px;
          grid-row-gap: 8px;
          font-size: 14px;
          .link {
            width: fit-content;
            cursor: pointer;
          }
        }
        .footer-contentWrap-social {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          .socialBtn {
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 36px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid #0c1c3e;
            color: #0c1c3e;
            &:hover {
              border: 2px solid #e1306d;
              color: #e1306d;
            }
          }
        }
        .footer-contentWrap-logos {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 24px;
          .footer-contentWrap-logo {
            width: fit-content;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .company {
            width: 150px;
          }
          .niantic {
            width: 60px;
          }
        }
      }
    }
    .footer-legal {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
      width: 100%;
      padding: 8px 0px;
      color: #0c1c3e;
      font-weight: 400;
      line-height: 1.4;
      background: #e2f7f7;
      .footer-legal-link {
        &::after {
          content: '>';
          margin: 0px 10px;
          padding: 2px 6px;
          border-radius: 50%;
          color: white;
          background-color: rgb(108, 169, 185);
        }
        &:hover::after {
          background-color: rgb(65, 132, 148);
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
		scroll-snap-align: none;
	}
	@media screen and (max-width: 768px) {
    scroll-snap-align: none;
  }
}
