:root {
  --primary-navy-300: #0c1c3e;
  --primary-navy-200: #0f224a;
  --primary-navy-100: #0061af;
  --secondary-red-100: #e1306d;
  --secondary-green-100: #24cbaa;
  --secondary-yellow-100: #f7cc46;
  --font-navy: #18242e;
  --font-black: #000;
  --font-white: #fff;
  --bg-skyblue-50: #d1eefd;
  --bg-teal-50: #e2f7f7;
}
